<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Billing & Payment System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.image.attached? %>
            <div class= "flex-container">
              <div class="flex-left">
                <%= cl_image_tag current_user.image.key, class:"image-size rounded-circle" %>
              </div>
                <div class="flex-right">
                  <div class="text-bold white"><%= current_user.name%></div>
                  <div class="text-small white"><%= current_user.type%></div>
              </div>
            </div>
          <% else %>
            <div class= "flex-container">
                <div class="flex-left">
                  <%= image_tag "dp.jpeg", class:"image-size rounded-circle" %>
                </div>
                  <div class="flex-right">
                    <div class="text-bold white"><%= current_user.name%></div>
                    <div class="text-small white"><%= current_user.type%></div>
                </div>
              </div>
          <% end %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href= "<%= destroy_user_session_path%>">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
