
<section>

  <div class="container">
    <div class="card w-100 p-3">
      <div class="card-body">
      <h4 class="card-title">All Plans</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Monthly Charges</th>
                <th colspan=2>Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @plans.each do |plan| %>
                <tr>
                  <td><%= plan.name %></td>
                  <td>US$ <%= plan.monthly_fee %></td>
                  <td><%= link_to 'Show', admin_plan_path(plan.id), class: 'btn btn-info', remote: true%></td>
                  <td><%= link_to 'Destroy', admin_plan_path(plan.id), method: :delete, data: { confirm: 'Are you sure? This operation cannot be undo.' }, class: 'btn btn-danger'  %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end mt-10"> <%== pagy_bootstrap_combo_nav_js(@pagy) %> </div>
        <br />

        <%= link_to 'New Plan', new_admin_plan_path, class: "btn btn-success" %>
  </div>
  </div>
  </div>

<div id='plan-content'></div>
</section>
