<div class="container">
  <div class="card w-75 p-3">
    <div class="card-body">
    <h4 class="card-title">Subscribe a Plan</h4>
    <hr />
        <%= form_with(model: [:buyer, subscription], url: buyer_subscriptions_path, local: true, html: { id: "subscribe_plan_form" }) do |form| %>
        <% if subscription.errors.any? %>
          <div>
            <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

            <ul>
            <% subscription.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

       <div class="form-elements">

        <div>
          <h5>Following Plans are available for subscription</h5>
          <hr />
        </div>
        <div class="form-group form-check">

        <%= form.collection_radio_buttons(:plan_id, not_subscribed_plans, :id, :name)%>

        </div>
       </div>
        <% if plan_available? %>
        <div class="actions">
          <%= form.submit "Subscribe", class: 'btn btn-success'%>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
 </div>
 <%= render partial: 'payment_card_form', locals: {subscription: subscription}%>

