<!DOCTYPE html>
<html>
  <head>
    <title>BillingAndPaymentSystemV20</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="bg-image">
      </div>
      <%= yield %>
    </div>
  </body>
</html>
